<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script src="https://kit.fontawesome.com/445b1bcb10.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Licorice&family=Moon+Dance&family=Vujahday+Script&family=Waterfall&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="title">
        Find your next read.
    </div>
    <div class="search-box">
        <input class="" type="text">
        <i class="fas fa-search"></i>
    </div>
    <div class="center-img">
        <img src="{{ url_for('static',filename='images/kite_runner.jpg') }}" alt="">
    </div>
    <div class="left-top-img">
        <img src="{{ url_for('static',filename='images/1984.jpg') }}" alt="">
    </div>
    <div class="left-bottom-img">
        <img src="{{ url_for('static',filename='images/norwegian_wood.jpg') }}" alt="">
    </div>
    <div class="right-top-img">
        <img src="{{ url_for('static',filename='images/harry_potter.jpg') }}" alt="">
    </div>
    <div class="right-bottom-img">
        <img src="{{ url_for('static',filename='images/ove.jpg') }}" alt="">
    </div>
</body>
</html>